<ion-view ng-init="init()">
<div class="backgroundLogo">
	<div class="logoutHome" ng-click="logout()">
		<img src="img/logout.png" alt="logout">
	</div>
	<div class="logo">
		<img alt="logo" src="img/jomi-logo.png">
		<center><div class="tagline" style="padding-top: 15vh;">Version Beta 0.1</div></center>
	</div>

</div>

<ion-content class="welcomeContent">
		<!--Row 1-->
		<div class="row">
			<div class="background-menu col box-menu projectIcon" ng-click="myProjects()">
				<img class="menu_icon3" src="img/menuIcon/blank.png" alt="My Project">
			</div>
			<div class="background-menu col box-menu taskIcon" ng-click="myTask()">
				<img class="menu_icon3" src="img/menuIcon/blank.png" alt="My Task">
			</div>
			<div class="background-menu col box-menu nonBillableMandaysIcon" ng-click="leave()">
				<img class="menu_icon3" src="img/menuIcon/blank.png" alt="Non Billable Mandays">
			</div>
		</div>
		<!--Row -->
		<div class="row">
			<div class="background-menu col box-menu aboutUsIcon" ng-click="aboutUs()">
				<img class="menu_icon3" src="img/menuIcon/blank.png" alt="About Us">
			</div>

      <div class="background-menu col box-menu feedbackIcon" ng-click="feedback()">
        <img class="menu_icon3" src="img/menuIcon/blank.png" alt="Feedback">
      </div>

			<div class="background-menu col box-menu settingIcon" ng-click="setting()">
				<img class="menu_icon3" src="img/menuIcon/blank.png" alt="Setting">
			</div>
		</div>
	</ion-content>
  <center><div class="menuFooter">Copyright 2017. PPSI Kelompok 2</div></center>
</ion-view>





