<ion-view>
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->

<div class="subHead">Change Password</div>

<ion-content class="pocketContent">
<div class="menuContent">
<form name="form" ng-submit="changePass(model)">
  <div class="marginT" style="text-align: center;">New Password</div>
  <div class="row" style="width: 100%; margin-top:0.1%">
    <div style="width: 10%;">	</div>
    <div style="width: 80%;">
      <div class="field">
        <input class="inputBox mask" type="text" id="pw3" name="pw3" ng-model="model.password" ng-model-options="{ updateOn: 'blur' }" required/>
        <div class="field-error" ng-show="(form.$submit||form.pw3.$dirty)&&form.pw3.$invalid">
          <p ng-if="form.pw3.$error.required"><font color="red">New Password is required</font></p>
        </div>
      </div>
    </div>
  </div>

  <div class="marginT" style="text-align: center;">Re-type New Password</div>
  <div class="row" style="width: 100%; margin-top:0.1%">
    <div style="width: 10%;">	</div>
    <div style="width: 80%;">
      <div class="field">
        <input class="inputBox mask" type="text" id="pw4" name="pw4" pw-check="pw3" ng-model="model.Repassword" ng-model-options="{ updateOn: 'blur' }" required/>
        <div class="field-error" ng-show="(form.$submit||form.pw4.$dirty)&&form.pw4.$invalid">
          <p ng-if="form.pw4.$error.required"><font color="red">New Password is required</font></p>
          <p ng-if="form.pw4.$error.pwmatch"><font color="red">New Password doesn't match</font></p>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    <input type="submit" class="submitButtonBlue" value="Submit"/>
  </div>
</form>
</div>
</ion-content>

</ion-view>
