<ion-view>
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->

<div class="subHead">Settings</div>

<ion-content class="pocketContent">
<div class="menuContent">
  <div class="row itemList" ng-click="goChangePass()">
  <div class="col"> <img class="itemIcon" src="img/password.png" alt="Password">
    Change Password
    <i class="chevronRight icon ion-chevron-right"></i>
  </div>
</div>
</ion-content>

</ion-view>
