<ion-view>
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->
<div class="subHead">Task Detail</div>

<ion-content class="pocketContent">
<form name="form" ng-submit="updateTask(model)">
<div class="menuContent">

	<div class="row marginT">
		<div class="halfBox" >Task ID</div>
		<div class="halfBox textBlueColor" ng-model="model.id"> : {{detail.taskId}} </div>
	</div>
	<div class="row marginT">
		<div class="halfBox" >Task Name</div>
		<div class="halfBox textBlueColor"> : {{detail.taskName}} </div>
	</div>
	<div class="row marginT">
		<div class="halfBox" >Task Description</div>
		<div class="halfBox textBlueColor"> : {{detail.taskDesc}}  </div>
	</div>
	<div class="row marginT">
		<div class="halfBox">Priority</div>
		<div class="halfBox textBlueColor">: {{detail.priority}}</div>
	</div>
	<div class="row marginT">
		<div class="halfBox">Complexity</div>
		<div class="halfBox textBlueColor">: {{detail.complexity}}</div>
	</div>
  <div class="row marginT">
    <div class="halfBox">Status</div>
    <div class="halfBox textBlueColor">
      <select ng-model="model.status" class="inputBox" style="color: #000;" >
        <option value="1" ng-selected="true">Open</option>
        <option value="2">In Progress</option>
        <option value="3">Done</option>
        <option value="4">Ready To Test</option>
        <option value="5">Closed</option>
      </select>
    </div>
  </div>
	<div ng-click="" style="text-align: center;">
		<input type="submit" class="submitButtonBlue" value="Submit">
	</div>

</div>
</div>
</form>
</ion-content> </ion-view>
