<ion-view ng-init="init()" class="lgBackground">
    <ion-content class="loginContent">
        <form name="loginForm" ng-submit="doLogin(loginForm,user)">
          <div class="LGlogo">
            <div class="logospace"></div>
          </div>
            <div class="welcomeTagline">Take, Do, and Done</div>

            <div class="item-input inputLogin">
              <input type="text" ng-model="user.username" placeholder="Username" maxlength="20" style="color: #fff;  text-align: center; padding:0px;">
            </div>

            <div class="item-input inputLogin marginT">
              <input class="mask-text" type="text" ng-model="user.password" placeholder="Password" style="color: #fff;  text-align: center; padding:0px; border: none !important;">
            </div>

            <div style="text-align: center;">
              <input type="submit" class="submitButton" value="Login">
            </div>
        </form>
    </ion-content>
</ion-view>
