<ion-view>
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->

<div class="subHead">Leave Form</div>

<ion-content class="pocketContent">
<div class="menuContent">
<form name="form" ng-submit="addLeave(model)">

	<div class="marginT">Leave Type<font color="red">*</font></div>
	<div class="field">
		<select ng-model="model.type" class="inputBox" style="color: #000;" >
      <option value="1" ng-selected="true">Leave</option>
      <option value="2">Sick</option>
      <option value="3">Permission</option>
      <option value="4">Training</option>
      <option value="5">Project</option>
    </select>
	</div>

	<div class="marginT">Description<font color="red">*</font></div>
	<div class="field">
    <textarea rows="6" class="descInputBox" ng-model="model.description"></textarea>
	</div>

	<div style="text-align: center;">
		<input type="submit" class="submitButtonBlue" value="Submit" />
	</div>
	</form>
</div>
</ion-content>

</ion-view>
