<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link id="currentTheme" href="css/PocketBank.css" rel="stylesheet">
    <link href="css/PocketBank.w500.css" rel="stylesheet">
    <link rel="stylesheet" href = "lib/angular-cropper/css/cropper.css">
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!--  <link href="css/PocketBank.css" rel="stylesheet"> -->

    <!--   <link href="css/{{theme}}.css" rel="stylesheet">-->
    <link href="css/platform.css" rel="stylesheet">
    <!--     <link href="css/tablet.css" rel="stylesheet"> -->
    <link href="css/materialize.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/initOptions.js"></script>
    <!-- CONTROLLER -->
    <script src="js/module/login/loginModule.js"></script>
    <script src="js/module/home/homeModule.js"></script>
    <script src="js/module/aboutUs/aboutUsModule.js"></script>
    <script src="js/module/project/projectModule.js"></script>
    <script src="js/module/task/taskModule.js"></script>
    <script src="js/module/leave/leaveModule.js"></script>
    <script src="js/module/feedback/feedbackModule.js"></script>
    <script src="js/module/settings/settingsModule.js"></script>
    <script src="js/module/settings/changePasswordModule.js"></script>
    <!-- SERVICE -->
    <script src="js/service/popupService.js"></script>
    <!-- ADAPTER -->
    <script src="js/adapter/baseInvoker.js"></script>
  </head>

  <body ng-app="jomi">
    <ion-nav-view></ion-nav-view>
  </body>
</html>
