<ion-view>
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->

<div class="subHead">Feedback Form</div>

<ion-content class="pocketContent">
<div class="menuContent">
<form name="form" ng-submit="addFeedback(model)">

  <div class="marginT">Description<font color="red">*</font></div>
  <div class="field">
    <textarea rows="6" class="descInputBox" ng-model="model.description"></textarea>
  </div>

  <div ng-click="" style="text-align: center;">
    <input type="submit" class="submitButtonBlue" value="Submit">
  </div>
</form>
</div>
</ion-content>

</ion-view>
