<ion-view ng-init="init()">
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->
  
<div class="subHead">About Us</div>

<ion-content class="pocketContent">
	<div class="menuContent">

	<div style="text-align: center;">
		<img class="" src="img/jomi-logo.png" alt="" style="height:70px;">
	</div>
	<div style="text-align: center; padding: 5px 30px;">JOMI [Job Monitoring]</div>
    <div style="text-align: center; padding: 5px 30px;">Version Beta 0.1</div>

	</div>

</ion-content>
  <center><div class="menuFooter">Copyright 2017. PPSI Kelompok 2</div></center>

</ion-view>
