.platform-ios .headLogin{
	height: 70px !important;
    background-size: 100% 100%;
    background-position-y: 0;
    background-color: rgba(255, 255, 255, 0) !important;
    border-top: 20px solid #f00;
}

.platform-android .headLogin{
	background-size: 100% 0px !important;
	height: 60px;
}

.platform-android .pocketHeader {
	height:70px;
	background-color:#fff;
	width:100%;
	box-shadow: none;
}

.menuForgotPass{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: #f00;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.pocketHeader {
	height:70px;
	background-color:#fff;
	width:100%;
	box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.15);
}

.platform-ios .pocketHeader{
	height:90px !important;
	background-color:#fff;
	width:100%;
	box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.15);
	border-top: 20px solid #f00;
}

.platform-ios .navBox{
	margin:0px !important;
}

.platform-ios .headSide{
	margin:0px !important;
}

.platform-ios .headCenter{
	margin:0px !important;
}

.platform-ios .rightSide{
	margin:0px !important;
}

.platform-ios .subHead{
    top:90px !important;
}

.platform-ios .pocketContent{
	top:130px !important;
}

.agreeContent{
	top: 150px !important;
	bottom: 135px !important;
}

.platform-ios .agreeContent{
	top: 170px !important;
	bottom: 135px !important;
}

.platform-android .agreeContent{
	top: 150px !important;
	bottom: 135px !important;
}

.out{
	top: 105px;
	position: fixed;
}

.platform-android .out{
	top: 105px;
	position: fixed;
}

.platform-ios .out{
	top: 125px;
	position: fixed;
}

.platform-android .headSideM{
	height: 106px;
    background-color: #0FAEB6;
    text-align: center;
    color: #fff;
    background-image: url("../img/city.png");
    background-size: cover;
    padding: 15px 5px 5px 5px;
    border-bottom: none;
}

.headSideM{
	height: 106px;
    background-color: #0FAEB6;
    text-align: center;
    color: #fff;
    background-image: url("../img/city.png");
    background-size: cover;
    padding: 15px 5px 5px 5px;
    border-bottom: none;
}

.platform-ios .headSideM{
	height: 126px;
    background-color: #0FAEB6;
    text-align: center;
    color: #fff;
    background-image: url("../img/city.png");
    background-size: cover;
    padding: 15px 5px 5px 5px;
    border-bottom: none;
    border-top: 20px solid #0FAEB6;
}

.platform-android .sideMenuContent{
	top: 0;
}

.sideMenuContent{
	top: 106px;
	background-color: #6d5858;
}

.platform-ios .sideMenuContent{
	top: 126px;
}

.platform-android .loginContent{
	top: 50px;
}

.loginContent{
	top: 50px;
	bottom:0px !important;
}

.platform-ios .loginContent{
	top: 70px;
	bottom:0px !important;
}

.platform-android .backLG{
	top: 0px;
    position: absolute;
    height: 60px;
    width: 60px;
    padding: 15px 13px 10px 10px;
    text-align: center;
    z-index:1;
}

.backLG{
	top: 0px;
    position: absolute;
    height: 50px;
    width: 60px;
    padding: 15px 13px 10px 10px;
    text-align: center;
    z-index:1;
}

.platform-ios .backLG{
	top: 0px;
    position: absolute;
    height: 60px;
    width: 60px;
	padding: 15px 13px 10px 10px;
    text-align: center;
    z-index: 1;
}

.backLG img{
    height: 20px;
    width: auto;
}

.backLG.active, .backLG.activated{
	background-color:#1ED488;
	border-radius:50%;
}

.platform-ios .backgroundLogo{
	height:30vh;
	width:100%;
	background-image:url("../img/city.png");
	background-size: cover;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	-moz-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	border-top: 20px solid #0FAEB6;
}

.platform-android .backgroundLogo{
	height:30vh;
	width:100%;
	background-image:url("../img/city.png");
	background-size: cover;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	-moz-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
}

.platform-android .logoutHome{
	top: 0px;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
    float: right;
    right: 0;
    text-align: center;
    margin:5px;
}

.logoutHome{
	top: 0px;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
    float: right;
    right: 0;
    text-align: center;
     margin:5px;
}

.platform-ios .logoutHome{
	top: 20px;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
    float: right;
    right: 0;
    text-align: center;
     margin:5px;
}

.logoutHome img{
    height: 25px;
    width: auto;
	vertical-align: -webkit-baseline-middle;
}

.logoutHome.active, .logoutHome.activated{
	background-color:#83ebed;
	border-radius:50%;
}


.platform-ios .fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 75px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.platform-android .fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 75px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 135px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}