/*
*customize css for screen up to 500 px
*by :akbar.pambudi
*/

@media screen and (min-width: 550px){
	.sm-button{
		max-width:120px;
		position: relative;
	    margin-right: -19%;
	}
	
	.img-holder{
		width:150px;
		height:150px;	
	}	


	.menu-content {
		-webkit-transform: translate3d(200px, 0px, 0px) !important;
		width: calc(100% - 200px) !important;
	}

	.menu {
		z-index: 2 !important;
		box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
	}

	.bar-header button.ion-navicon {
		display: none;
	}
   
	.menuContent {
	    padding: 10px;
	    background-color: rgb(255, 255, 255);
	    margin: 10px;
	    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	}
	
	.pocketContent { 
	    background-color: #F6F6F6;
		top: 95px !important;
	}
	
	.subHead {
	    background-color: #FFFFFF;
	    color: #373737;
	    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	    top:60px;
	}
	
	.platform-android  .pocketHeader {
	    height: 60px  !important; 
	}
	
	.pocketHeader {
	    height: 60px  !important; 
	}

	.show550{
		display:block !important;
	}
	
	.nameTab{
		padding:5px;
		display:flex;
	}
	
	.hide550{
		display:none;
	}
	
	.sideMenuContent {
	    border-top: 7px solid #fff;
	}
}


.wid{
	width:200px !important;
}

.show550{
	display:none;
}

/* notif */
[data-notifications]:after{
    content: attr(data-notifications);
    position: absolute;
    background: red;
    border-radius: 50%;
    display: inline-block;
    padding: 0.5% 1.2% 0.5% 1.2%;
    color: #f2f2f2;
    top: 4px;
    min-width: 25px;
    min-height: 25px;
    right: 29%;
    /* font-size: 98%; */
    text-align: center;
    margin-left:10px !important;
    /* font-family: FS_Albert; */
    /* vertical-align: -webkit-baseline-middle; */
    line-height: 23px;
}
