@font-face {
  font-family: 'designRegular';
  src: url('../font/designosaur/ProximaNovaAlt-Regular.otf');
}

@font-face {
  font-family: 'designItalic';
  src: url('../font/designosaur/roboto.light-italic.ttf');

}

span, select, input, div, pre , button, textarea{
	font-family: designRegular !important;
}


#map{
height:60vh;
}


.coRound{
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    padding: 5px;
}

.headSide{
	width:30%;
	height:100%;
	float:left;
	padding:10px;
}

.rightSide{
	width:30%;
	height:100%;
	float:left;
	padding:10px;
}

.logoPocket{
	background-image: url("../img/pocketLogo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.logoPocketActive{
	background-image: url("../img/pocketLogoActive.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.burgerIcon{
	background-image: url("../img/sidemenu.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.backIcon{
	background-image: url("../img/back.png");
    background-size: auto 35%;
    background-repeat: no-repeat;
    background-position: center;
}


.navBox{
	width:50%;
	height:100%;
	float:left;
	/* padding-top:10px; */
	text-align:center;
}

.navBox.active, .navBox.activated{
	background-color:#ffe6b0;
	border-radius:10px;
}

.navBox img{
	width:35px;
	height:auto;
}

.headCenter{
	width:40%;
	height:100%;
	float:left;
	text-align:center;
	padding: 15px 0;
}

.headCenter img{
	width:auto;
	height: 40px;
}


.prevTheme6{
    width: 49%;
    height: 130px;
    float: right;
    background-image: url("../img/prevTheme6.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
    margin-top: 10px !important;
}
.register{
    background-color: #fffefc;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    border: none;
    margin-bottom: 20px;
    font-family: designRegular;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    width: 75%;
    font-size: 16px;
}

.login{
	width: 140px;
    background-color: #fff;
    text-align: center;
    border-radius:0px 18px 18px 0px;
    padding: 10px;
    border:none;
    margin-top:50px;
    margin-bottom:20px;
    font-family: designRegular;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 16px;
}

.login.active, .login.activated{
	background-color:#ffe6b0;
}

.register.active, .register.activated{
	background-color:#ffe6b0;
}

.row{
	width:100%;
}

.colbox-1{
	width:10%;
	float:left;
}

.colbox-2{
	width:20%;
	float:left;
}

.colbox-3{
	width:30%;
	float:left;
}

.colbox-4{
	width:40%;
	float:left;
}

.colbox-5{
	width:50%;
	float:left;
}


.lgBackground{
	/* height:100%;
	width:100%; */
	    background-image: url("../img/canadia/pattern.png");
    background-size: 100px auto;
}

.pocketContent{
	top:110px !important;
	bottom:27px !important;
}

.ion-content.hide-on-keyboard-open.pocketContent{
	bottom:0px !important;
}

body.hide-on-keyboard-open .pocketContent{
	bottom: 0px !important;
}

.keyboard-body .pocketContent{
 	bottom:0 !important;
}

.keyboard-body .hide-on-keyboard-open{
	display:none !important;
}

.logo{
	position: fixed;
    top: 5vh;
    height: 20vh;
    width: 100%;
    text-align: center;
    background-image: url("../img/canadia/logo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo img{
    height: 100%;
    width: auto;
}

.box-menu {
    padding: 5px;
	text-align: center;
    margin: 5px;
    background-color: #ff0a0a;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.05);
    color: #5B6B75;
    border-radius: 10px;
}

.background-menu.active, .background-menu.activated{
	background-color:#ffe6cc;
}

.box-menu:hover {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}

.box-menu-blank {
	padding: 10px 2px 10px 2px;
	text-align: center;
    margin: 5px;
}

/* .box-menu img {
	width:auto;
	height:40px;
} */

.menu_icon3 {
	box-sizing: initial !important;
	margin-top: 0px;
	vertical-align: middle;
	width: 100%;
}

.welcomeContent{
	background-color: #EFEFEF;
    top: 30vh !important;
    bottom: 30px !important;
	background-image: url("../img/background.png");
    background-size: cover;
}

.welcomeContent-pre{
	/*background-color: #EFEFEF;*/
        top: 23vh !important;
	/*background-image: url("../img/background.png");*/
    background-size: cover;
        padding: 10px 20px;
}


.menuFooter{
	width:100%;
	height:27px;
	position:fixed;
	bottom:0;
	background-color:#fff;
	-webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.10);
	z-index: 2;
}

.boxFooter{
	text-align:center;
	font-size:10px;
}

.boxFooter.active, .boxFooter.activated {
	background-color:#d1ede2;
	margin-top:-5px;
}

.boxFooter img{
	width:auto;
	height: 30px;
}

.textFooter{
	margin-top:-8px;
}

.menuContent{
	padding:10px;
}

.LGlogo {
    top: 3vh;
    height: 50vh;
    width: 100%;
    position: relative;
    text-align: center;
    background-image: url(../img/canadia/logo.png);
    background-position: center top;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.tagline{
	color: #2f2b2b;
    font-family: "designItalic";
    /*letter-spacing: 1px;*/
    margin-top: -91px;
    width: 100%;
    text-align: center;
}

.welcomeTagline{
  color: #2f2b2b;
  font-family: "designItalic";
  /*letter-spacing: 1px;*/
  margin-top: -25px;
  width: 100%;
  text-align: center;
}

.inputLogin{
	border: 1px solid rgba(127, 118, 118, 0.97);
    margin-right: 15%;
    margin-left: 15%;
    padding: 0px 0px 0px 0px !important;
    border-radius: 50px;
}
.iconLock{
	height: 25px;
    margin-top: 25px;
}

.submitButton{
	    width: 140px;
    background-color: #f00;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: designRegular;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 16px;
    color: #fff;
}

.submitButtonRegist{
	width: 200px;
    background-color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
    font-family: designRegular;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 16px;
}

.submitButton.active, .submitButton.activated{
	background-color:#EDF0AA;
}

.submitButtonOtorisasi{
    background-color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
    font-family: designRegular;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 16px;
}
.submitButtonBlue{
	width: 150px;
    background-color: #ff0000;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
    font-family: designRegular;
    color:#fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.submitButtonPay{
	width: 100px;
    background-color: #0FAEB6;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border:none;
    margin-top:10px;
    margin-bottom:10px;
    font-family: designRegular;
    color:#fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
.submitButtonBlue.active, .submitButtonBlue.activated{
	background-color:#ff5656;
}

.submitButton2{
    width: 130px;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #ff0000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: designRegular;
    color: #ff0000;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.submitButton2.active, .submitButton2.activated{
	background-color:#EDF0AA;
}

.subHead{
     height: 35px;
    top: 70px;
    position: fixed;
    background-color: #e4e0e0;
    width: 100%;
    z-index: 1;
    padding: 8px 5px 5px 10px;
    color: #f00;
    font-family: designRegular;
    font-size: 16px;
    font-weight: bold;
}

.bankAccount{
	width:100%;
	height:40px;
	background-color:#0B6EAB;
	padding:10px;
	color:#fff;
}

.iconImage{
	height:100%;
	width:100%;
}

.iconImage img{
	height:100%;
	width:auto;
}

.addAccountWhite{
	background-color: #fff;
    border-radius: 5px;
    color: #0B6EAB;
    padding: 0px 8px 0px 8px;
    float: right;
        border: none;
}

.addAccountBlue{
	background-color: #0B6EAB;
    border-radius: 5px;
    color: #fff;
    padding: 0px 8px 0px 8px;
    float: right;
        border: none;
}

.headAccountWhite{
	width:100%;
	background-color:rgba(160, 160, 160, 0.32);
	padding: 5px 10px;
	color: #0B6EAB;

}

.subAccount{
	width:100%;
	padding: 20px 10px 20px 10px;
	background-color:#F2F2F2;
	margin-bottom: 15px;
}

.buttonActive{
	padding: 0px;
    Background-color: #FFFFFF;
    text-align: center;
    color: #0B6EAB;
    font-family: designRegular;
    border-bottom: 2px solid #0B6EAB;
   /*  margin-right: 5px;
    margin-left: 5px; */
}

.buttonActive img{
	height:25px;
}

.buttonNon{
	padding: 0px;
    Background-color: #FFFFFF;
    text-align: center;
    color: #808080;
    font-family: designRegular;
    border-bottom: 2px solid #FFFFFF;
    /* margin-right: 5px;
    margin-left: 5px; */
}

.buttonNon img{
	height:25px;
}

.roundedButton{
	padding: 3px;
    Background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    color: #0B6EAB;
    font-family: designRegular;
    border: 1px solid #0B6EAB;
    margin: 5px;
}

.tabsActive{
	padding: 3px;
    Background-color: #0B6EAB;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: designRegular;
    border: 1px solid #0B6EAB;
    margin: 10px;
}
.tabsActive img{
	height:20px;
	vertical-align: sub;
}

.tabsNon{
	padding: 3px;
    Background-color:  #FFFFFF;
    border-radius: 20px;
    text-align: center;
    color: #0B6EAB;
    font-family: designRegular;
    border: 1px solid #0B6EAB;
    margin: 10px;
}
.tabsNon img{
	height:20px;
	vertical-align: sub;
}

.blueBox{
	padding:10px;
	width:100%;
	Background-color: #0B6EAB;
	color:#fff;
	font-family: designRegular;
}

.blueBag{
	padding:10px;
	width:100%;
	Background-color: #56B8B7;
	color:#fff;
	font-family: designRegular;
}

.inputBox{
	width: 100%;
    border-radius: 3px;
    border: 1px solid #969696 !important;
    height: 35px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
    padding-bottom: 3px;
    padding-left: 5px !important;
    /* margin-bottom: 10px; */
}

.inputOtp{
    width: 100%;
    height: 30px !important;
    background-color: rgb(255, 255, 255);
    color: #2B2B2B;
    padding-bottom: 3px;
	text-align:center;
}

.otpBox{
	padding: 10px 15px 15px 15px;
    width: 100%;
    Background-color: #F04926;
    color: #fff;
    font-family: designRegular;
    text-align: center;
}

.inputBoxBlue{
	width: 100%;
    border-radius: 5px;
    border: 1px solid #0B6EAB !important;
    height: 35px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
}

.halfInputBox{
	width: 50%;
    border-radius: 5px;
    border: 1px solid #969696 !important;
    height: 35px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
    padding-bottom: 3px;
    padding-left: 5px !important;
    /* margin-bottom: 10px; */

}

.halfBox{
	width:50%;
	float:left;
}

.fullBox{
	width:100%;
}

.marginT{
	margin-top:10px !important;
}
.marginB{
	margin-top:3px !important;
}

.textBlueColor{
	color:#0F6FAD;
	font-size:15px;
}

.mask{
	  -webkit-text-security:disc;
}

.descInputBox{
	width: 100%;
    border-radius: 3px;
    border: 1px solid #969696 !important;
    height: 80px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px !important;
    margin-bottom: 10px;
}

.noPadding{
	padding:0px !important;
}

.noMargin {
	margin:0px;
	margin-top:0px;
}

.itemList{
    border-bottom: 1px solid #E4E2E2;
    padding: 7px 0px 7px 0px !important;
    font-size: 15px;
    color: #807574;
    margin-top: 0px !important;
}

.itemList.active, .itemList.activated{
	background-color:#fcffe6;
}

.borderRadiusList{
	border: 1px solid #B1B1B1;
    padding: 0px 0px 0px 0px !important;
    font-size: 15px;
    color: #807574;
    margin-top: 0px !important;
    border-radius: 100px;
    margin-top: 10px !important;
}

.chevronRight{
	font-size: 12px;
    right: 0px;
    float: right;
    color: #807574;
}

.itemIcon{
	height: 20px;
    vertical-align: text-bottom;
	margin-right: 5px;
}

.iconFav{
	height: 40px;
    vertical-align: text-bottom;
	margin-right: 10px;
	    width: auto;
}

.tcContent{
	max-height: 45vh;
    overflow: scroll;
    padding: 15px;
}


.itemFav{
	border-bottom: 1px solid #B1B1B1;
    padding: 15px 0px 15px 0px !important;
    font-size: 15px;
    color: #807574;
    margin-top: 0px !important;
}
.listNotif{
	border-bottom: 1px solid #B1B1B1;
    padding: 8px 0px 8px 0px !important;
    font-size: 13px;
    color: #807574;
    margin-top: 0px !important;
}

.buttonText{
	background-color: #0B6EAB;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 20px;
    float: right;
    vertical-align: text-top;
}

.buttonApply{
	background-color: #0FAEB6;
    padding: 2px 15px 2px 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    float: right;
    text-align: center;
}

.statusBox{
    background-color: #F1F1F1;
    padding: 2px;
    color: #0B6EAB;
    font-size: 12px;
    border-radius: 20px;
    float: right;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.receiveStatus{
    background-color: #0AADB5;
    padding: 2px;
    color: #fff;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
    float: left;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    width:70%;
}

.statusList{
	background-color: #0AADB5;
    padding: 2px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    width:95%;
}

.chevronStatus{
    background-color: #0C6EAC;
    padding: 2px;
    color: #fff;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    float: left;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    width: 30%;
    border-left: 2px solid #fff;
}


.buttonApplyBlue{
	background-color: #0B6EAB;
    padding: 2px 15px 2px 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    float: right;
    text-align: center;
}

.floatR{
	float:right;
	text-align:right;
}

.favTrans{
	font-size: 12px;
	color:#7C7472;
}

.favName{
	font-size: 15px;
	color:#0B6EAB;
}

.cFont{
	font-size: 13px;
	color:#544e4b;
}

.kFont{
	font-size: 14px;
	color:#0B6EAB;
}

.font14{
	font-size: 14px;
	color:#7C7472;
}

.validUntil{
	background-color: #E2E2E2;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    letter-spacing: 1px;
}

.iconContact{
	height:30px;
	margin-right: 10px;
	vertical-align: middle;
}

.dateIcon{
	color: #B1B1B1;
	font-size: 30px;
    margin-top: 1px;
    letter-spacing: 10px;
}


.item-complex .item-content, .item-radio .item-content {
    padding: 8px 49px 8px 16px !important;
}

.item-radio .radio-icon {
    padding: 3px 20px 3px 3px !important;
}

.leftRound{
	border-radius:6px 0px 0px 6px;
	background-color: #DCEBC1;
    padding: 2px 5px 2px 5px;
    color: #545859;
    font-size: 14px;
    float: right;
    text-align: center;
}

.rightRound{
	border-radius:0px 6px 6px 0px;
	background-color: #fff;
    padding: 2px 5px 2px 5px;
    color: #545859;
    font-size: 14px;
    float: right;
    text-align: center;
}

.submitted{
	border-radius:6px;
	background-color: #DBDBDD;
    padding: 2px 5px 2px 5px;
    color: #0B6EAB;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}



.borderBottom{
	border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.coleftRound{
	border-radius:3px 0px 0px 3px;
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    padding: 5px;
}

.coCenter{
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    padding: 5px;
}

.activeCol{
	background-color: #ff0000  !important;
	color:#fff !important;
}

.centerRound{
	border-radius:0px;
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    padding: 5px;
}

.corightRound{
	border-radius:0px 3px 3px 0px;
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    padding: 5px;
}

.sendOtp{
	border-radius:0px 6px 6px 0px;
	background-color: #DCEBC1;
    color: #545859;
    font-size: 15px;
    float: right;
    text-align: center;
    margin-top: 12px;
}

.marginB{
	margin-bottom:10px;
}

.tosca{
	background-color:#ff0000 !important;
}
.col-30 {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.col-40 {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.col-45 {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.col-75{
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.deleteIcon{
	color: #0FAEB6;
    font-size: 20px;
    line-height: 14px;
}



.itemSide{
	background-color:#6d5858;
	color: #fff;
    border: none;
}

.imgSide{
	width: 20%;
    float: left;
    padding: 6px 6px 6px 13px;
}

.textSide{
	width: 80%;
    float: left;
    background-color: #6d5858;
    color: #fff;
    padding: 10px;
    border-radius: 18px 0px 0px 18px;
}

.textSide:hover{
	width: 80%;
    float: left;
    background-color: #fff;
    color: #0B6EAB;
    padding: 10px;
    border-radius: 18px 0px 0px 18px;
}

.textSide.active, .textSide.activated{
	width: 80%;
    float: left;
    background-color: #fff;
    color: #0B6EAB;
    padding: 10px;
    border-radius: 18px 0px 0px 18px;
}






/* ionic css */

.fixed-action-btn {
  z-index: 2 !important;
}

.platform-android .action-sheet-cancel {
    display: block !important;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 15px !important;
    padding: 16px;
    color: #666;
}
.platform-ios .action-sheet-has-icons .button {
    padding-left: 56px;
        text-align: left;
}
.action-sheet-group .button:first-child:last-child {
    text-align: center;
    padding-right: 56px;
    color: #fafafa;
    border-radius: 0;
    background-color: #ddd;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    min-height: 0;
    line-height: 40px !important;
}


.checkbox {
    padding: 7px 0px !important;
}

.item-checkbox {
    padding-left: 30px !important;
}

.item-checkbox .checkbox {
   left: 0px !important;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #0FAEB6 !important;
    border-color: #0FAEB6 !important;
}

.action-sheet .button {
    font-size: 15px !important;
}

.action-sheet-title {
    font-size: 15px !important;
    color: #666;
    text-align:left !important;
}

.action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.29) !important;
}

.action-sheet .button {
    color:#444 !important
}

/* sidemenu */

.inactive {
    cursor: pointer;
    -webkit-transform: translate3d(160px, 0px, 0px) scale(0.5);
    -moz-transform: translate3d(160px, 0px, 0px) scale(0.5);
    -ms-transform: translate3d(160px, 0px, 0px) scale(0.5);
    transform: translate3d(160px, 0px, 0px) scale(0.5);
}
.menu {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-backface-visibility: hidden;
}
.menu.menu-left{
	transition: all 300ms ease-in-out;
}
.menu.menu-left .list {
    transition: all 300ms ease-in-out;
    transform: scale(.2);
}
.menu.menu-left.active{
	top: 110px;
}
.menu.menu-left.active .list{
	transform: scale(1);
}
.menu.menu-left.active {
    top: 110px;
    left: 40px;
}
.menu.menu-left, .list a {
	border-color: transparent;
}

.popup-container .popup {
    width: 85% !important;
    max-width: 90% !important;
    background-color: rgb(255, 255, 255);
}

.button.button-positive {
    background-color: #e42112 !important;
    height: 20px;
}

.popup-buttons {
    min-height: 60px !important;
    padding-top: 16px;
}

.popup-buttons .button {
    height: 20px;
}

.popup-body {
    color: #444;
    text-align: center;
    min-height: 65px;
}

.popup-body span{
   vertical-align: sub;
}

.popup-head {
    border-bottom: none !important;
}

.popup-buttons .button {
    min-height: 30px !important;
    border-radius: 5px;
}

.popup-container {
     background: rgba(0, 59, 62, 0.57) !important;
}

.mask-text{
  -webkit-text-security:disc;
  	width: 100%;
    border-radius: 5px;
    border: 1px solid #969696 !important;
    height: 35px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
    padding-bottom: 3px;
    padding-left: 5px !important;
    /* margin-bottom: 10px; */
}

.maskTextHalf{
  -webkit-text-security:disc;
  	width: 50%;
    border-radius: 5px;
    border: 1px solid #969696 !important;
    height: 35px !important;
    background-color: rgba(255, 255, 255, 0);
    color: #2B2B2B;
    padding-bottom: 3px;
    padding-left: 5px !important;
    /* margin-bottom: 10px; */
}

.popupHeader {
	 color: #fff;
    text-align: center;
    min-height: 65px;
}

.popupBody {
	   width: 85% !important;
    max-width: 90% !important;
    background-color: rgb(56, 126, 245) !important;
}
.toggle.toggle-darktosca input:checked{

	border-color: #418FA5 !important;
    background-color: #34889F !important;
}


.popup-title {
    color: #444;
}


.sideBox{
	width:100%;
	display: flex;
}


.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
	white-space: normal !important;
}

.backgroundLogo{
	height:30vh;
	width:100%;
	background-image:url("../img/city.png");
	background-size: cover;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	-moz-box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
	box-shadow: 0px 2px 4px 1px rgba(85,85,97,0.68);
}

.prevTheme1{
	width: 49%;
    height: 130px;
    float: left;
    background-image: url("../img/prevTheme1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
        margin-top: 10px !important;
}

.prevTheme2{
    width: 49%;
    height: 130px;
    float: right;
    background-image: url("../img/prevTheme2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
        margin-top: 10px !important;
}

.prevTheme3{
    width: 49%;
    height: 130px;
    float: left;
    background-image: url("../img/prevTheme3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
    margin-top: 10px !important;
}

.prevTheme4{
    width: 49%;
    height: 130px;
    float: right;
    background-image: url("../img/MenuIcon/BCA/prevTheme4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
    margin-top: 10px !important;
}

.prevTheme5{
    width: 49%;
    height: 130px;
    float: left;
    background-image: url("../img/MenuIcon/mizuho/preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 200px;
    margin-top: 10px !important;
}

.preview{
	background-image: url("../img/background.png");
    background-size: 100% 100%;
}


/* NOTE
KALAU ADA TAMBAHAN ATAU PERUBAHAN CSS TOLONG TAMBAHKAN JUGA DI CSS TEMA LAIN,
ATAU KALAU BINGUNG TANYA DULU KE YBS */



.sm-button{
	max-width:100px;
	position: relative;
    margin-right: 5%;
}

.dm-button{
	position: relative;
    margin-right: 5%;
}

.img-holder{
	width:100px;
	height:100px;
}
.scrolled-list{
	overflow-y : auto !important;
}


/* menu icon */
.aboutUsIcon{
  background-image: url("../img/menuIcon/about.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.settingIcon{
	background-image: url("../img/menuIcon/setting.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}

.feedbackIcon{
  background-image: url("../img/menuIcon/feedback.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.profileIcon{
  background-image: url("../img/menuIcon/profile.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.summaryIcon{
  background-image: url("../img/menuIcon/summary.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.leaveIcon{
  background-image: url("../img/menuIcon/leave.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.nonBillableMandaysIcon{
  background-image: url("../img/menuIcon/mandays.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.taskIcon{
  background-image: url("../img/menuIcon/task.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.projectIcon{
  background-image: url("../img/menuIcon/project.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
}

.blankIcon{
	background-image: url("../img/menuIcon/blank.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}
.activeAccount{
	background-color: #ff8040;
    padding: 3px 15px;
    border-radius: 11px;
    color: #fff;
}



.amountSize{
	font-weight: bold;
	color: #FF5722;
	font-size:20px;
}

.font10{
	font-size:10px;
	line-height: 10px;
}

.font12{
	font-size:12px;
	line-height: 12px;
}

.font16{
	font-size:16px;
	line-height:18px;
}

.font18{
	font-size:18px;
}

.font20{
	font-size:20px;
}

.font24{
	font-size:24px;
}

.primColor{
	color:#1A4C93;
}

.accColor{
	color:#FF5722;
}

.grayColor{
	color:#707173;
}

.bold{
	font-family: 'bold' !important;
}

.semibold{
	font-family: 'semibold' !important;
}

.activeAccount{
	background-color: #FF5722;
    padding: 3px 15px;
    border-radius: 11px;
    color: #fff;
}

.item-input input {
    background-color: rgba(255, 255, 255, 0.74) !important;
    color: #000 !important;
}


.wid{
	width:200px !important;
}


.logoutIcon{
	background-image: url("../img/logout.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px !important;
}


/* TAB VERSION */
@media screen and (min-width: 550px){
	.sm-button{
		max-width:120px;
		position: relative;
	    margin-right: -19%;
	}

	.img-holder{
		width:150px;
		height:150px;
	}

	.menu-content {
		-webkit-transform: translate3d(200px, 0px, 0px) !important;
		width: calc(100% - 200px) !important;
	}

	.menu {
		z-index: 2 !important;
		box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
	}

	.bar-header button.ion-navicon {
		display: none;
	}

	.menuContent {
	    padding: 10px;
	    background-color: rgb(255, 255, 255);
	    margin: 10px;
	    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	}

	.subHead {
	    background-color: #FFFFFF;
	    color: #373737;
	    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	}

	.platform-android.pocketHeader {
	    background-color: #ff0a0a !important;
	}

	.sideMenuContent {
	    background-color: #0C3366 !important;
	    border-bottom: 30px solid #0C3366;
	}

	.itemSide {
	    background-color: #0C3366;
	}

	.textSide {
	    background-color: #0C3366;
	}
}


@media only screen and (min-width: 500px) {
    .welcomeContent-pre {
		padding:5px 15%;
    }

    .box-menu{
    	margin:8px;
    }

    .welcomeContent {
		padding:5px 15%;
    }

}



.item-toggle{
    border: none;
}



.bagroon {
   background-color: rgba(255, 255, 255, 0) !important;
}

.logospace{
    width: 100%;
    height: 75%;
    background-image: url(../img/jomi-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.botSpace{
    text-align: center;
    margin-top: 40px;
}

.dkiAksen{
    display:none;
}



.headerWelcome {
    /* background: none repeat scroll 0% 0% #FFF; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95px;
    text-align: center;
}

.imageBack {
    background-image: url(../img/canadia/pattern.png) !important;
        background-size: 85px auto;
    background-color: #f7f7f7 !important;
}












.container      {
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
}

/* form starting stylings ------------------------------- */
.group {
  position:relative;
  margin-bottom:45px;
  height: 40px;
}
.group input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.group input:focus { outline:none; }

/* LABEL ======================================= */
.group label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.group  .bar    {
    position:relative !important;
    display:block !important;
    width:300px;
    box-sizing: border-box;
        top: -40px;
    z-index: -1;
 }
.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 40px;
    width: 100px;
    top: 0;
    left: 0;
    pointer-events: none;

}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#ff0a0a; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#ff0a0a; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#ff0a0a; }
  to    { width:0; background:transparent; }
}





.redBold{
    color: #ff0a0a;
    font-weight: bold;
    font-size: 14px;
}

.toggle .handle {
    top: 0px !important;
}

.toggle .track {
    height: 20px !important;
}

.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(22px, 0, 0) !important;
    transform: translate3d(22px, 0, 0) !important;
}


.contactList{
    border-bottom: 1px solid #e2d8d8;
    display: block;
    padding: 5px 0px;
    margin-bottom: 5px;
    color: #999999;
}


.searchBtn{
    height: 35px;
    width: 100%;
    padding-top: 4px;
    background-color: #f00;
    border: none !important;
    border-radius: 3px;
}
