<ion-view ng-init="init()">
  <!-- START HEADER BACK BUTTON-->
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- END HEADER BACK BUTTON-->
  <div class="subHead">My Projects</div>

  <ion-content class="pocketContent">
    <div class="itemFav" style="padding-top: 2px; padding-bottom:2px; padding-left:3px; !important;font-size: 14px;" ng-repeat="obj in projectsData">
      <div class="row">
        <div style="width: 100%;" align="left"><h6><b>{{obj.name}}</b></h6></div>
        <div style="width: 50%;" align="right"><b>Start : 12-01-2017</b></div>
      </div>
      <div class="row">
        <!--<div style="width: 100%;" align="left"><b>{{obj.description}}</b> : </div>-->
        <div style="width: 100%;" align="right"><b>End : 12-05-2017</b></div>
      </div>
      <div class="row">
        <div style="width: 100%;" align="left"><b>{{obj.description}}</b></div>
        <!--<div style="width: 50%;" align="right"><b>End : 12-05-2017</b></div>-->
      </div>
    </div>
    <div id="emptyList" ng-show="showEmptyList">
          <div class="errorMsg">No project define yet.</div> 
    </div>
  </ion-content>
  <center><div class="menuFooter">Copyright 2017. PPSI Kelompok 2</div></center>

</ion-view>
